@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Media Core</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Media Core</h2>

    </div>
    <div class="col-md-4">
        <h2>MedIA Influencer</h2>
        <p><a class="btn btn-default" target="_blank" href="https://med-ia.mx/login">Go to medIA Influencer &raquo;</a></p>
    </div>
</div>